.todoListContainer {
  width: 100%;
  margin-top: 20px;
  position: absolute;
}

.todoItemHeader {
  background-color: rgb(85 177 248);
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  gap: 10px;
  position: fixed;
  top: 40px;
  margin-top: 40px;
  left: 8px;
  right: 8px;
}

.todoItemHeader p {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.todoItemHeader p:last-child {
  justify-content: end;
}

.todoItems {
  margin: 50px 0 20px 0;
}

@media (max-width:650px) {
  .todoItemHeader p:first-child {
    max-width: 20px;
  }
}