input {
  cursor: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid gray;
  border: none;
  border-radius: 5px;
  outline: none;
}

input[type="checkbox"]:checked  {
  background-color: green;
}

input[type="checkbox"]:checked::before {
  content: '\2714';
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.5;
  color: white;
  background-color: green;
}

.todoItemContainer {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  cursor: pointer;
  gap: 10px;
}

.todoItemContainer p {
  max-width: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.input {
  max-width: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.todoItemContainer:not(:last-child) {
  margin-bottom: 20px;
}

.todoItemContainer div:not(:last-child) {
  width: 330px;
}

.todoItemContainer div:last-child {
  width: 160px;
  text-align: end;
}

.todoCardContainer {
  opacity: 1;
  position: fixed;
  left: 50%;
  top: 8%;
  width: 100%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

.hiddenTodoCardContainer {
  opacity: 1;
  display: none;
  position: fixed;
  left: 50%;
  top: 8%;
  width: 100%;
  transform: translate(-50%, 50%);
  z-index: 10;
}

.todoCard {
  border-radius: 20px;
  padding: 20px;
  max-width: 600px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  animation: show 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.093),
    -2px -2px 10px rgba(0, 0, 0, 0.093);
    word-wrap: break-word;
    margin: 0 auto;
}

.hiddenTodoCard {
  border-radius: 20px;
  padding: 20px;
  max-width: 600px;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  animation: hide 0.3s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.093),
    -2px -2px 10px rgba(0, 0, 0, 0.093);
  word-wrap: break-word;
  margin: 0 auto;
}

.modalWindow {
  position: absolute;
  top: -41%;
  left: 0%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 10px 1px #ccc;
  border-radius: 10px;
  animation: show 0.3s ease;
}
.hiddenModalWindow {
  position: absolute;
  top: -41%;
  left: 0%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 2px 10px 1px #ccc;
  border-radius: 10px;
  animation: hide 0.3s ease;
}

.doneStatus {
  color: green;
}

.notDoneStatus {
  color: red;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.description p:first-child {
  font-weight: 600;
  margin-bottom: 20px;
}

.status {
  margin-top: 20px;
}

@keyframes show {
  0% {
    transform: scale(0) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    transform: scale(1) translate(0);
    opacity: 1;
  }
  100% {
    transform: scale(0) translateY(-50%);
    opacity: 0;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.closeButton {
  color: #7f7e7e;
  padding-bottom: 4px;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: transform 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openMoreMenuBtn {
  color: #7f7e7e;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  transition: transform 0.25s ease;
  animation: show 0.3s ease;
  position: absolute;
}

.openMoreMenuBtn::before {
  content: "\022EE";
  position: absolute;
  height: 19px;
  transform: translate(-50%, -50%);
}

.delButton {
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: red;
  transition: transform 0.25s ease;
}

/* .closeButton:hover,
.delButton:hover {
  transform: scale(1.1);
} */

.closeButton:active,
.openMoreMenuBtn:active,
.delButton:active {
  box-shadow: inset 1px 1px 3px black;
}

@media (max-width:650px) {
  .todoItemContainer p:first-child {
    max-width: 20px;
  }

  .todoCard {
    max-width: 360px;
  }
}

@media (max-width:400px) {
  .todoCard, .hiddenTodoCard {
    max-width: 250px;
  }
}